body {
	text-align: center;
	font-family: Roboto;
	padding: 0px;
	margin: 0px;
	margin-top:5%
}

@font-face {
	font-family: Roboto;
	src: url('../font/Roboto-Regular.ttf');
}

div.content-left {
	width: 40%;
	height: 100%;
	margin-left: 10%;
	float: left;
	display: table-cell;
	vertical-align: middle;
}

div.content-right {
	width: 50%;
	height: 100%;
	float: right;
	display: table-cell;
	margin-top:2%;
	vertical-align: middle;
}

input.form {
	border-width: 2px;
	border-radius: 8px;
	font-size: 17px;
	padding: 10px;
	width: 82%;
	max-width: 300px;
	margin-top: 25px;
	text-decoration-color: #b4b4b4;
	border-color: #000;
}

button.btn-normal {
	background: #524BED;
	border-color: #524BED;
	border-radius: 8px;
	border-width: 0px;
	color: #fff;
	font-size: 17px;
	text-align: center;
	padding-top: 9px;
	padding-bottom: 9px;
	min-width: 135px;
}

button.btn-normal:hover {
	background-color: #433FA2;
	cursor: pointer;
}

.navbar-top {
	background-color: #433FA2;
	overflow: hidden;
}

.navbar-top a {
	float: left;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	margin: 0px;
	text-decoration: none;
	font-size: 16px;
}

.navbar-top a.active {
  background-color: #04AA6D;
  color: white;
}

.link {
  color: #524BED;
}

.link:hover {
	color: #2D2B6E;
	cursor: pointer;
}